*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', monospace;
  color: #F9AE51;
}

#body{
  background-color: #303841;
}

/*TacosPage*/

div{
  text-align: center;
}

.Tacosbtn{
  margin-top: 15px;
}

.tacos-div{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 0;
  left: 0;
}

.tacos-div div{
}

.tacos1{
  height: 350px;
  object-position: -20px -5px;
}

.tacos2{
  height: 350px;
  object-position: 50px 100px;
}

.tacos3{
  height: 350px;
  object-position: 30px 30px;
}

.tacos4{
  height: 350px;
  object-position: 10px -10px;
}

.tacos5{
  height: 350px;
  object-position: 20px 65px;
}

.tacos6{
  height: 350px;
  object-position: 0px 45px;
}

.tacos7{
  height: 350px;
  object-position: 10px 45px;
}

.tacos8{
  height: 350px;
  object-position: -20px 44px;
}

.tacos-div:nth-child(1){
  
  animation: animate 15s linear infinite;
  animation-delay: 1s;
}

.tacos-div:nth-child(2){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(3){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(4){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(5){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(6){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(7){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(8){
  animation: animate 15s linear infinite;
}

.tacos-div:nth-child(8){
  
}

@keyframes animate{
  0%{
    top: -10%;
  }
  100%{
    top: 110%;
  }
}